# Local Docker MongoDB
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=LocalPasswordMongo # password for local docker mongodb
MONGO_HOST_PORT=27018 # port for local docker mongodb
MONGO_EXPRESS_PORT=8081 # port for local docker mongo-express

# Backend
BE_PORT=6868
MONGODB_URI=mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@127.0.0.1:${MONGO_HOST_PORT}/tasks?authSource=admin&replicaSet=rs0&directConnection=true

# Frontend
FE_PORT=5173
VITE_API_BASE_URL=http://localhost:6868
